.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 5px;
  margin: 20px 0;
}

.gallery-wrapper img {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
}

.gallery-wrapper img:hover {
  opacity: 0.98;
}

@include media($phablet,max) {
  #gallerySection .container {
    backdrop-filter: blur(10px);
  }
}
